<!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col-lg-4"> -->
        <div class="card">
            <div class="card-header ">
                <h3>Add User</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Name</label>
                        <input type="text" name="" id="" class="form-control" placeholder="Enter User Name" [(ngModel)]="userObj.name">
                    </div>
                     
                    <div class="col-12">
                        <label for="">Email</label>
                        <input type="text" name="" id="" class="form-control" placeholder="Enter User Email" [(ngModel)]="userObj.email">
                    </div>
                    
                    
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">
                        <div class="btn btn-secondary" (click)="resetUsers()">Reset</div>
                    </div>
                    <div class="col-6 text-center">
                            <div class="btn btn-primary"  (click)="onSaveUsers()">Save</div>

                        <!-- @if(userObj.id==0)
                        {

                            <div class="btn btn-primary"  (click)="onSaveTask()">Save</div>
                        }
                        @else{
                            <div class="btn btn-success"  (click)="onUpdate()">Update</div>

                        } -->
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
