<!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col-lg-4"> -->
        <div class="card">
            <div class="card-header bg-info text-white">
                <h3>Add Task</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Title</label>
                        <input type="text" name="" id="" class="form-control" [(ngModel)]="taskObj.title">
                    </div>
                     <div class="col-12">
                        <label for="">Description</label>
                        <textarea class="form-control" rows="3" [(ngModel)]="taskObj.description"></textarea >
                    </div>
                    
                    <div class="col-12">
                <label for="">Project</label>
                <!-- <input type="text" name="" id="" class="form-control" [(ngModel)]="onSaveProject.users"> -->
                <ng-select [virtualScroll]="true" class="custome-s" bindLabel="name" bindValue="id" name="TeamsDropdown"
                    [(ngModel)]="taskObj.project" [multiple]="false" placeholder="Select Project" [items]="ProjectList " (change)="getUsers($event)"
                    dropdownPosition="bottom">

                </ng-select>
            </div>
                   
             <div class="col-12">
                <label for="">Users</label>
                <ng-select [virtualScroll]="true" class="custome-s" bindLabel="name" bindValue="id" name="TeamsDropdown"
                    [(ngModel)]="taskObj.users" [multiple]="true" placeholder="Select Users" [items]="userList " 
                    dropdownPosition="bottom">

                </ng-select>
            </div>

                <div class="col-12">
                <label for="">Priority</label>
                <ng-select [virtualScroll]="true" class="custome-s" bindLabel="name" bindValue="name" name="TeamsDropdown"
                    [(ngModel)]="taskObj.priority" [multiple]="false" placeholder="Select Users" [items]="priorityList " 
                    dropdownPosition="bottom">

                </ng-select>
            </div>

                <div class="col-12" >
                <label for="">Status</label>
                <ng-select [virtualScroll]="true" class="custome-s" bindLabel="name" bindValue="name" name="TeamsDropdown"
                    [(ngModel)]="taskObj.status" [multiple]="false" placeholder="Select Users" [items]="taskStatus " 
                    dropdownPosition="bottom">

                </ng-select>
            </div>
                    
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">
                        <div class="btn btn-secondary">Reset</div>
                    </div>
                    <div class="col-6 text-center">
                            <div class="btn btn-success"  (click)="onSaveTask()">Save</div>

                        <!-- @if(taskObj.id==0)
                        {

                            <div class="btn btn-primary"  (click)="onSaveTask()">Save</div>
                        }
                        @else{
                            <div class="btn btn-success"  (click)="onUpdate()">Update</div>

                        } -->
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
